users/
.cert/
client/node_modules/
server/__pycache__/
server/access_code/
server/deploy_scripts/
server/dockerfile/
server/experiments/
server/log_main/
server/log_workspace/
server/model/
server/NASH2022/
server/temp/
server/templates/
server/utils/
server/wsi_preprocessing/
*.pt

*__pycache__*